.no-p { padding: 0 !important;}
.no-m { margin: 0 !important;}
.el-space-tl { margin: 0.5rem 0.5rem 0 0 !important;}
#admin-container{
  min-width: 640px;
}
a { text-decoration: none !important; }
.pagination {
  margin:  0 auto;
  display: flex;
  justify-content: center;
  a, em, span {
    position: relative;
    display: block;
    padding: .22rem .4rem;
    border: 1px solid #007BFF;
    border-left: 0;
  }
  .previous_page{
    border-left: 1px solid #007BFF;
  }
  .current{
    background: #007BFF;
    color: #fff;
  }
}
