<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
      <%= yield %>
      <script>
        // production
        // $(document).keydown(function (event) {
        //     if (event.keyCode == 123) { // Prevent F12
        //         return false;
        //     } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
        //         return false;
        //     }
        // });

        // $(document).on("contextmenu", function (e) {
        //     e.preventDefault();
        // });
        $(window).resize(function() {
          if(this.resizeState) clearTimeout(this.resizeState);
          this.resizeState  = setTimeout(function(){
              cmUI.detectChangeDefaultOrientation()
            },200)
        })
        $(document).ready(function() {
          cmUI.init()
          cmUI.comicBoxAction()
          cmUI.chapterHeader = $("#chapter-header-detail").html()
          cmUI.originalText = $(cmUI.contentBox).html()
        });
      </script>

      <div class="loading"></div>
  </body>
</html>
